/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  
  body {
    margin: 5px;
  }
  
  form {
    max-width: 400px;
    margin: 2rem 0 0 5%;
  }
  
  h1 {
    text-align: center;
  }
  
  form label {
    display: inline-block;
    width: 150px;
    clear: left;
  }
  
  form input {
    width: 150px;
    margin-bottom: 5px;
  }
  
  form input[type="submit"] {
    margin-left: 155px;
  }
  
  table {
    width: 90%;
    background-color: #EEE;
    margin: 2rem auto 5rem;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #333;
    color: white;
  }
  
  tr {
    border-bottom: 1px solid black;
  }
  
  th, td {
    text-align: center;
    padding: .5rem 0;
  }

  h3 {
      text-align: center;
  }